{% if direction.departements is not empty %}
    <ul>
    {% for departement in direction.departements %}
        <li>
            {{ departement.nom }}
        </li>
    {% endfor %}
    </ul>
{% endif %}