<div class="row">
    <div class="col">
        <div class="md-form mb-5">
            {{ form_widget(search.equipements, {
                'attr' : {
                    'data-placeholder' : 'app.materiel.search.fields.equipements'|trans
                }
            }) }}
        </div>
    </div>
</div>
