{% extends 'Global/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="card">
                    <h5 class="card-header light-blue lighten-1 white-text text-uppercase text-center">
                        <i class="lnr lnr-license"></i>
                        {{ 'app.intervention.edit.modal.header'|trans }}
                    </h5>
                    <div class="card-content collpase show">
                        {{ form_start(form,{
                            'attr':{
                                'class' : 'form form-horizontal form-bordered'
                            }
                        }) }}
                        <div class="card-body px-lg-5 pt-0">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deserunt enim error facere libero molestiae numquam reiciendis sapiente sequi tenetur!</p>
                            </div>

                            {% include 'Admin/Intervention/Interne/includes/_form.html.twig' %}

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success btn-rounded mb-4 float-right">
                                {{ 'save.title'|trans }}
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}