body {
  background: url("./../img/drm.jpg") no-repeat center center fixed;
  background-size: cover;
}
.main-section{
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
}
.modal-content{
  background-color: #434e5a;
  opacity: .8;
  padding: 0 18px;
}

.user-img {
  margin-top: -60px;
  margin-bottom: 45px;
  img{
    height: 120px;
    width: 120px;
  }
}

.form-group{
  margin-bottom: 25px;
  input{
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 54px;
  }
  button{
    width: 40%;
    margin: 5px 0 25px;
  }

  &::before{
    font-family: FontAwesome;
    content: "\f007";
    position: absolute;
    font-size: 22px;
    left: 28px;
    padding-top: 4px;
    color: #555e60;
  }
  &:last-of-type::before{
    content: "\f023";
  }
}


.btn-login{
  background-color: #1c6288;
  font-size: 19px;
  border-radius: 5px;
  padding: 7px 14px;
  border: 1px solid #daf1ff;
  &:hover{
    background-color: #13445e;
  }
}
.forgot{
  padding: 5px 0 25px;
  a{
    color: #daf1ff;
  }
}

.error{
  color: #ffa700;
  font-size: large;
}