<div class="row">
    <div class="col">
        <div class="md-form mb-5">
            {{ form_widget(search.role, {
                'attr' : {
                    'data-placeholder' : 'app.user.search.fields.categorie'|trans
                }
            }) }}
        </div>
    </div>
</div>