<p>
    {{ 'delete.entity'|trans({'%entity%': entity},'messages') }}
    <b>{{ field }}</b>
    <br>
    {{ 'delete.explanation'|trans({},'messages') }}.
</p>
<p>{{ 'delete.validation'|trans({},'messages') }}</p>