{% extends 'Print/base.html.twig' %}
{% block body %}
    <main class="mt-2 pt-2">
        <div class="container">
            <div class="row">
            <table class="table table-bordered" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                <thead>
                <tr role="row">
                    <th>{{ 'app.lieu.table.fields.nom'|trans }}</th>
                    <th>{{ 'app.lieu.table.fields.agences'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for lieu in list %}
                    <tr role="row">
                        <td>{{ lieu.nom }}</td>
                        <td>
                            {% if lieu.agences is not empty %}
                                {% for agence in lieu.agences %}
                                    {{ agence.nom }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </main>
{% endblock %}