{% extends 'Global/base.html.twig' %}
{% block body %}
    <!--Section: Cards-->
    <section class="text-center">

        <!--Grid row-->
        <div class="row mb-4 wow fadeIn">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                {{ exception.message|trans }}
            </div>
        </div>
    </section>
{% endblock %}